source ~/.vimrc

set surround
set rnu
set nu
set showmode
set ignorecase smartcase
set ideajoin
set commentary
set ReplaceWithRegister
set argtextobj
set which-key

set notimeout
let g:WhichKey_ShowVimActions = "true"

let mapleader = "\<Space>"

nmap gb :action ToggleLineBreakpoint<CR>
nmap gtf :action RerunFailedTests<CR>
nmap gtt :action Run<CR>
nmap gtd :action Debug<CR>
nmap <CR> i<CR><Esc>
nmap fs :action FileStructurePopup<CR>
nmap gv :action Vcs.RollbackChangedLines<CR>
nmap gu :action FindUsages<CR>
nmap == :action ReformatCode<CR>
vmap == :action ReformatCode<CR>

nmap <leader>pp :action ManageRecentProjects<CR>
nmap <leader>gF :action Vcs.UpdateProject<CR>
nmap <leader>/ :action FindInPath<CR>
nmap <leader>gD :action FindUsages<CR>
nmap <leader>cf :action ReformatCode<CR>
vmap <leader>cf :action ReformatCode<CR>
nmap <leader>ci :action GotoImplementation<CR>
nmap <leader>si :action FileStructurePopup<CR>
nmap <leader>gr :action Vcs.RollbackChangedLines<CR>
nmap <leader>, :action RecentFiles<CR>
nmap <leader><leader> :action GotoFile<CR>

let g:WhichKeyDesc_GitVcs_Status = "<leader>gs status"
nnoremap <leader>gs    :action Vcs.Show.Local.Changes<CR>
vnoremap <leader>gs    :action Vcs.Show.Local.Changes<CR>

let g:WhichKeyDesc_Leader_OpenShell = "<leader>ot open-shell"
nnoremap <leader>ot    :action ActivateTerminalToolWindow<CR>
vnoremap <leader>ot    :action ActivateTerminalToolWindow<CR>
