@import "mocha.css";

* {
  font-family: FontAwesome, "LigaHack Nerd Font";
  font-size: 15px;
  min-height: 0;
}

#clock {
  color: @blue;
}

#pulseaudio {
  color: @maroon;
}

#network {
  color: @green;
}

