@import "mocha.css";

* {
  font-family: FontAwesome, "LigaHack Nerd Font";
  font-size: 15px;
  min-height: 0;
}


#clock {
  color: @blue;
}

#pulseaudio {
  color: @maroon;
}

#network {
  color: @green;
}

#workspaces button.active {
  background-color: @blue;
  color: @crust;
  border-radius: 4px;
  padding: 0 7px;
  margin: 0 4px;
}

